html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 300px minmax(auto, 1920px);
  justify-content: center;

  font-family: sans-serif;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
aside {
  form {
    padding: 10px;
    fieldset {
      width: 100%;
    }
  }
  .content {
    position: sticky;
    top: 0;
  }
  nav {
    ol {
      margin: 0;

      li {
        margin-bottom: 0.5em;

        a.active {
          outline: 1px solid;
        }
      }
    }
  }
}
section {
  li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;

    header {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 10px;

      h1 {
        margin-top: 0;
        padding-top: 20px;
      }

      form {
        display: flex;
        margin: 0;
        gap: 20px;

        fieldset {
          height: 40px;
        }

        button {
          position: relative;
          top: 8px;
          height: 51px;
        }
      }
    }

    img-comparison-slider {
      grid-column: span 2;
      container-type: inline-size;

      > img[slot] {
        margin: auto;
        max-width: 100cqw;

        &[hidden] {
          display: none;
        }
      }
    }
  }

  ul:has(li) + .done {
    display: none;
  }

  .done {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
