html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

:root {
  --app-background-color: #f0f0f0;
  --panel-background-color: white;
  --panel-border-color: black;
  --panel-border-width: 1px;
  --panel-border-radius: 5px;
  --panel-gap: 20px;

  --link-color: blue;
  --link-color-hover: darkblue;

  --button-background-color: #f0f0f0;
  --button-border-color: black;
  --button-border-width: 1px;
  --button-border-radius: 5px;
  --button-color: black;
}

main {
  display: grid;
  grid-template-columns: 300px minmax(auto, 1920px);
  justify-content: center;
  position: relative;

  font-family: sans-serif;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--app-background-color);
}
aside {
  form {
    padding: 10px;
    fieldset {
      width: 100%;
    }
  }
  .content {
    position: sticky;
    top: 0;
  }
  nav {
    ol {
      margin: 0;

      li {
        margin-bottom: 0.5em;

        a.active {
          outline: 1px solid;
        }
      }
    }
  }
}
section {
  ul {
    margin: 0;
    padding: 10px;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: sticky;
      top: 10px;
      z-index: 2;
      background: white;

      h1 {
        padding: 0;
        margin: 0;
        font-weight: normal;
      }

      form {
        button {
          position: relative;
          top: 8px;
        }
      }
    }

    img-comparison-slider {
      grid-column: span 2;
      container-type: inline-size;

      > img[slot] {
        margin: auto;
        max-width: 100cqw;

        &[hidden] {
          display: none;
        }
      }
    }
  }

  ul:has(li) + .done {
    display: none;
  }

  .done {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Theme */
.panel {
  background-color: var(--panel-background-color);
  border-color: var(--panel-border-color);
  border-radius: var(--panel-border-radius);

  .panel-header {
    padding: var(--panel-gap);
  }
  .panel-content {
    margin: var(--panel-gap);
  }
}
a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}
button {
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  height: 40px;

  &:hover {
    background-color: var(--button-color);
    color: var(--button-background-color);
    border-color: var(--button-color);
  }
}
