main {
  --nav-width: 250px;

  display: grid;
  grid-template-columns: var(--nav-width) 1fr;
  font-family: sans-serif;
}
aside {
  nav {
    position: sticky;
    top: 0;
  }
}
section {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    header {
      display: grid;
      grid-template-columns: 1fr auto;

      form {
        display: flex;
        margin: 0;
        gap: 20px;
      }
    }

    img-comparison-slider {
      grid-column: span 2;
      container-type: inline-size;

      > img[slot] {
        width: 100cqw;
      }
    }
  }

  ul:not(:empty) + .done {
    display: none;
  }

  .done {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
